* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Poppins
}

html {
    scroll-behavior: smooth;
}

:root {
    --main-color: #f09548;
    --text-color: #437f8b;
    --secondary-color: rgb(79, 79, 79);
    --bold: rgb(18, 17, 17);
    --link-color: rgb(37, 36, 36);
    --anchor-color: rgb(92, 92, 92);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--bold);
    margin: 12px 0;
    font-weight: 500;
}

p {
    color: var(--bold);
    margin: 0;
}

body {
    padding: 12px 16px;
}

.resume_header {
    display: flex;
    justify-content: space-between;


}

.heading {
    flex-direction: column;
}

.infoLinksContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 8px 0;
    font-size: 0.6rem;
    width: 40%;
    flex-direction: column;
}

.infoLinks {
    color: var(--text-color);
    padding: 0 8px;
    display: flex;
    justify-content: end;
}

.infoLinks a {
    text-decoration: none;
}

/* .infoLinks:nth-child(1) {
    border-left: none;
    padding: 0 8px 0 0;
} */

.infoLinks span {
    color: var(--link-color)
}

.infoLinks i {
    color: var(--text-color);
}

.name {
    color: var(--text-color);
    margin: 0;
}

.position {
    color: var(--bold);
    margin: 0;
    line-height: 1.3rem;
}

.summary {
    margin: 12px 0 0 0;
}

.experience {
    margin: 30px 0 0 0;
}

.educationContainer,
.skills {
    margin: 16px 0 0 0;
}
.achievements, .tools-and-library {
    margin: 24px 0 0 0;
}

.summaryHeading,
.experienceHeading,
.educationHeading,
.skillsHeading,
.achievementsHeading, .toolsHeading {
    color: var(--text-color);
    margin-bottom: 8px;
    line-height: 0.8rem;
    font-size: 1.4rem;
}

.summaryText {
    margin: 8px 0;
    color: var(--bold);
    font-size: 0.8rem;
    line-height: 1.1rem;
}

.hr {
    margin: 12px 0;
    background-color: var(--text-color);
    height: 1px;
}

.companies,
.school,
.skill, .achievement, .toolsBox {
    display: flex;
    flex-wrap: wrap;
}

.company,
.education {
    width: 100%;
    position: relative;
    color: var(--secondary-color);
    margin: 0 0 12px 0;
}

.company a,
.education a {
    text-decoration: none;
    color: var(--anchor-color);
    font-size: 0.9rem;
}

.date {
    float: right;
    font-size: 0.7rem;
    color: var(--text-color);
}

.role,
.course {
    margin: 0;
    font-size: 1.1rem;
}

.companyName,
.collage {
    margin: 6px 0;
    line-height: 0.4rem;
    color: var(--bold);
}

.company ul {
    margin: 8px 0 0 0;
}

.company ul li {
    color: var(--bold);
    font-size: 0.7rem;
    line-height: 1rem;
}

.location {
    font-size: 0.8rem;
    color: var(--text-color);
    font-size: 0.7rem;
}

.skill {
    gap: 4%;
}

.skillContainer {
    width: 48%;
    display: flex;
    gap: 3%;
}

.skillCapsules {
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px 0;
    flex-direction: column;
    width: 100%;
}
.skillName {
    font-size: 0.8rem;
}
.progress {
    background-color: #033a4633;
    width: 100%;
    height: 0.8rem;
    display: flex;
    border-radius: 10px;
}

.progress i {
    height: 0.8rem;
    display: block;
    border-radius: 10px;
    margin: -0.05rem 0 0 0;
}

.achievementsContainer {
    margin: 0 0 12px 0;
}

.achievementName {
    margin: 0;
}
.achievementsDes {
    font-size: 0.75rem;
    line-height: 0.9rem;
}

.tAndL {
    font-size: 0.75rem;
    line-height: 0.9rem;
    background: #437f8b;
    margin: 0 8px 6px 0;
    padding: 6px 12px;
    color: white;
    border-radius: 18px;
}