* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Poppins
}

html {
    scroll-behavior: smooth;
}

:root {
    --main-color: #f09548;
    --text-color: #157c91;
    --secondary-color: rgb(79, 79, 79);
    --bold: rgb(18, 17, 17);
    --link-color: rgb(37, 36, 36);
    --anchor-color: rgb(92, 92, 92);
    --conpany-color: #982f0e;
    --heading-background: #95e7f6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--bold);
    margin: 12px 0;
    font-weight: 500;
}

p {
    color: var(--bold);
    margin: 0;
}

body {
    margin: 0;
}

.resume_header {
    display: flex;
    justify-content: space-between;


}

.heading {
    display: flex;
    flex-direction: column;
}

.infoLinksContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 8px 0;
    font-size: 0.7rem;
    width: 40%;
    flex-direction: column;
}

.infoLinks {
    color: var(--text-color);
    padding: 0 8px;
    display: flex;
    justify-content: end;
}

.infoLinks a {
    text-decoration: none;
}

/* .infoLinks:nth-child(1) {
    border-left: none;
    padding: 0 8px 0 0;
} */

.infoLinks span {
    color: var(--link-color)
}

.infoLinks i {
    color: var(--text-color);
}

.name {
    color: var(--text-color);
    margin: 0;
}

.position {
    color: var(--bold);
    margin: 4px 0 0 0;
    line-height: 1.1rem;
}

.summary {
    margin: 0;
}

.experience {
    margin: 24px 0 0 0;
}

.educationContainer,
.skills {
    margin: 16px 0 0 0;
}
.achievements, .tools-and-library {
    margin: 16px 0 0 0;
}

.summaryHeading,
.experienceHeading,
.educationHeading,
.skillsHeading,
.achievementsHeading, .toolsHeading {
    /* color: var(--text-color); */
    padding: 0 4px;
    margin-bottom: 8px;
    /* line-height: 0.8rem; */
    font-size: 1.4rem;
    font-weight: 600;
    background-color: var(--heading-background);
}

.summaryText {
    margin: 6px 0 0 0;
    color: var(--bold);
    font-size: 0.8rem;
    line-height: 1.1rem;
}

.hr {
    /* margin: 12px 0 6px 0; */
    background-color: var(--text-color);
    /* height: 1px; */
}

.companies,
.school,
.skill, .achievement, .toolsBox {
    display: flex;
    flex-wrap: wrap;
}

.skillNormal {
    color: var(--anchor-color);
    font-size: 0.9rem;
    margin: 4px 0;
}

.skillNormal div {
    margin: 2px 0;
}

.skillNormal div span
{
    border: solid 1px var(--text-color);
    border-radius: 17px;
    padding: 0 8px;
    margin: 0 2px;
    display: inline-block;
}



.__advance_right_section  .skillNormal  div  span {
    margin: 0 4px 4px 0;
    background: #437f8b;
    border: solid 1px #2e5860;
    color: white;
}

.skillNormal div span:first-child {
    font-weight: 600;
    /* font-size: 1rem; */
    color: var(--bold);
    border: none;
    width: 220px;
    display: inline-block;
    background: transparent;
}
.company,
.education {
    width: 100%;
    position: relative;
    color: var(--secondary-color);
    margin: 0 0 12px 0;
}

.company:last-child,
.education:last-child {
    margin: 0;
}

.company a,
.education a {
    text-decoration: none;
    color: var(--anchor-color);
    font-size: 0.9rem;
}

.company a {
    color: var(--conpany-color);
    font-weight: 600;
}

.date {
    float: right;
    font-size: 0.7rem;
    color: var(--text-color);
}

.role,
.course {
    margin: 0;
    font-size: 1.1rem;
}

.companyName,
.collage {
    margin: 6px 0;
    line-height: 0.4rem;
    color: var(--bold);
}

.company ul {
    margin: 8px 0 0 0;
    padding: 0 0 0 32px;
}

.company ul li {
    color: var(--bold);
    font-size: 0.7rem;
    /* font-style: italic; */
    line-height: 0.9rem;
    margin: 2px 0;
}

.location {
    font-size: 0.8rem;
    color: var(--anchor-color);
    font-size: 0.7rem;
}

.skill {
    gap: 4%;
}

.skillContainer {
    width: 48%;
    display: flex;
    gap: 3%;
}

.skillCapsules {
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px 0;
    flex-direction: column;
    width: 100%;
}
.skillName {
    font-size: 0.8rem;
}
.progress {
    background-color: #033a4633;
    width: 100%;
    height: 0.8rem;
    display: flex;
    border-radius: 10px;
}

.progress i {
    height: 0.8rem;
    display: block;
    border-radius: 10px;
    margin: -0.05rem 0 0 0;
}

/* .achievementsContainer {
    margin: 0 0 12px 0;
} */

.achievementsContainer:last-child {
    margin-bottom: 0;
}

.achievementName {
    margin: 6px 0 0 0;
    font-weight: 500;
    font-size: 1.1rem;
}

.achievementsDes {
    font-size: 0.75rem;
    line-height: 1.1rem;
    /* font-style: italic; */
}

.tAndL {
    font-size: 0.75rem;
    line-height: 0.9rem;
    background: #437f8b;
    margin: 0 8px 6px 0;
    padding: 6px 12px;
    color: white;
    border-radius: 18px;
}

.__MODERN_section {
    display: flex;
    gap: 5%;
}

.__MODERN_left_section {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.__MODERN_right_section {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.profile-pic img {
    border-radius: 50%;
    margin: 6px 8px 0 0;
}
.name {

}

.skill_advance {
    display: inline-block;
    margin: 1px 2px;
    border: solid 1px var(--text-color);
    background-color: var(--text-color);;
    color: white;
    border-radius: 4px;
    padding: 0 8px;
    font-size: 0.8rem;
}

/* --------------Advance resume --- */
.advanceskillContainer {
    display: inline-block;
    margin: 2px 3px;
    border: solid 1px var(--text-color);
    background-color: var(--text-color);
    color: white;
    border-radius: 4px;
    padding: 2px 8px;
    font-size: 0.8rem;
}

.advancetoolsBox {
    font-size: 0.75rem;
    line-height: 1.1rem;
    color: var(--bold);
    margin: 6px 0 0 0;
}

.advance_company {
    font-size: 0.9rem;
    color: var(--conpany-color);
}


.advance {
    flex-direction: column;
    text-align: center;
}

.advance .infoLinksContainer {
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.advance .position {
    margin: 0;
}

.advance .infoLinks {
    padding: 0 0 0 8px;
    font-size: 0.75rem;
}

.advance .infoLinks:first-child {
    padding: 0;
}